<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>p1rat3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<p>P1RAT3</p>
<form class="myForm" id="inpForm" action="/result" method="post">
    <input class="inpBox" name="data" type="text"/>
    <input onclick="showLoading()" class="subBtn" type="submit"/>
</form>
<div class="loading" id="loadingSpan">
    Scanning
</div>
<script>
    const showLoading = () => {
        document.getElementById("loadingSpan").style.display = "block";
        document.getElementById("inpForm").style.display = "none";
    }
</script>
</body>
</html>