@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Sora&family=Varela+Round&display=swap');

:root {
    --button-color: rgb(159, 255, 196);
    --text-color: rgb(70, 70, 70);
    --inp-border: rgb(159, 255, 159);
    --body-bg: rgb(15, 15, 15);
    --button-shadow: rgb(172, 255, 172);
    --nmap-head: rgb(118, 255, 118);
    --os-color: rgb(85, 255, 156);
}

body {
    position: relative;
    margin: 0px; padding: 0px;
    height: 100vh; width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: var(--body-bg);
}

.toolName {
    font-size: 100px;
    color: white;
    text-shadow: 0px 0px 12px rgb(126, 255, 126);
    font-family: 'Varela Round', sans-serif;
}

.myForm {
    display: flex;
    flex-direction: column;
}

.inpBox, .subBtn {
    margin: 10px;
}

.inpBox {
    padding: 10px;
    outline: none;
    border: solid 2px var(--inp-border);
    border-radius: 5px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.subBtn {
    width: fit-content;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--button-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.subBtn:hover {
    box-shadow: 0px 0px 10px var(--button-shadow);
}

@keyframes blinker {
    0% {
        box-shadow: 0px 0px 30px green;
    } 100% {
        box-shadow: none;
    } 
}

.loading {
    color: var(--text-color);
    background-color: var(--button-color);
    padding: 10px;
    border-radius: 10px;
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    animation: blinker 2s linear infinite;
}

.mainContainer {
    position: relative;
    width: 100%; height: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.scans {
    position: relative;
    height: min-content;
    margin: 20px;
    width: min-content;
}

.osScan p {
    width: max-content;
    color: var(--os-color);
    font-size: 25px;
}

.title {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    margin: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nmap-title {
    background-color: var(--nmap-head);
}

.resContainer {
    padding: 20px;
    border: solid 5px var(--nmap-head);
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indPortInfo {
    padding: 10px;
    width: 300px;
    font-family: 'Montserrat', sans-serif;
}